<h1>Welcome to the MTA Intranet Beta</h1>
<p>This website is under construction.  Please report any issues to the ITS helpdesk</p>

<mat-grid-list cols="2" rowHeight="40vh" style="height: 100vh;">
    <mat-grid-tile colspan="1" rowspan="1">
        <button style="height:100%;width:100%;background-color:lightgray" mat-raised-button [routerLink]="['/ticket']">
            <p style="font-size:36px">Enter Ticket</p>
            <mat-icon style="transform: scale(2)">add_circle</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <button [disabled]="true" style="height:100%;width:100%;background-color:darkgray" mat-raised-button [routerLink]="['/tickets']"> <!--TODO: send to "all ticktes" page?-->
            <p style="font-size:36px"><s>All Tickets</s></p>
            <mat-icon style="transform: scale(2)">list_alt</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <button style="height:100%;width:100%;background-color:darkgreen" mat-raised-button [routerLink]="['/myTickets']"> <!--TODO: send to "my ticktes" page-->
            <p style="font-size:36px">My Tickets</p>
            <mat-icon style="transform: scale(2)">my_library_books</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <button disabled style="height:100%;width:100%;background-color:darkred" mat-raised-button [routerLink]="['/']"> <!--TODO: send to "report issue" page-->
            <p style="font-size:36px"><s>Report Issue</s></p>
            <mat-icon style="transform: scale(2)">error_outline</mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>
