<h1>Guide to Using the MTA Helpdesk</h1>

<ol>
    <li>
        Identify the Type of Problem
        <ul>
            <li>Can't access internet</li>
            <li>PC won't turn on</li>
            <li>Need hardware replaced</li>
            <li>Need software installed</li>
            <li>Other issue</li>
        </ul>
    </li>
    <li>
        <a href="SubmitTicket">Submit a ticket</a> or 
        send an email to email...
        <br />
        <i>
            If you are unable to send an email,
            please have your supervisor send a ticket for you, or call
            Michael Gates or Jeremy Hicks directly (8814 or 8815)
        </i>
        <ul>
            <li> The "Subject" field of the email should be a summary of the problem or request</li>
            <li>
                The "Body" field of the email should include relevant details such as:
                <ul>
                    <li>Time of day, individuals involved</li>
                    <li>Number of people affected (single person/widespread issue)</li>
                    <li>Severity (delaying work, preventing work, minor annoyance)</li>
                    <li>Badge, phone, and/or employee numbers</li>
                    <li>Access rights required (or matching existing user)</li>
                    <li>Other details relevant to your request</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        An automatic reply should be in your email folder within a few minutes to confirm that we
        have received your ticket <br />
        <i>If the email does not appear, please call ext 8814 or 8815 - Michael Gates or Jeremy Hicks</i>
    </li>
    <li>
        All comments, responses, and status changes for your problem ticket will appear via Outlook email from the sender "helpdesk"
        <ul><li>Please respond with further questions by replying to those emails directly</li></ul>
    </li>
    <li>
        If we do not receive a response from you on a ticket for which we request additional information, it will automatically close in 10 days
        <ul>
            <li>
                Please do not hesitate to call or email us if you have any questions or concerns about a ticket,
                but note that emails that are not direct replies to helpdesk emails will not be recorded on the ticket,
                and will not reset the timer for automatically closing
            </li>
        </ul>
    </li>
    <li>To check on the status of any ticket you have opened, please visit the <a href="http://ITSHelpdesk">ITS Helpdesk Portal</a> and log in with your Windows username and password (which you use to log in to the PC).
        The MTA Helpdesk icon on your desktop will also take you there <br />
        <i>If you do not see this icon, or have trouble logging in to the portal, please contact Michael Gates or Jeremy Hicks</i>
    </li>
</ol>
<p>
    <em>
        TIP: Organizing your email can be a great help to ensuring you notice when responses are or are not sent for your ticket, 
        including separating your emails by “Folders” and creating “Rules” to automatically sort your emails.
        Feel free to visit the following link for a quick-start guide on how to organize your inbox: 
        <a href="https://support.microsoft.com/en-us/office/organize-your-inbox-in-outlook-for-windows-5e81ba45-cc00-4be6-8ab6-434d12bc96c6">Organize Your Outlook Email</a>
        
    </em>
    <br />
    Thank you!
</p>