@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MTA Resource Monitoring Beta</h1>
    <p>Feel free to browse the menu of resource types and experiment with the create, read, update, and delete functions.</p>
</div>
